<input [(ngModel)]="nomeGioco"/>
<div (click)="searchGame()" style="cursor:pointer; background-color:brown; width:10%">
  cerca gioco
</div>
<div *ngIf="currentGame != null">
  <form #updateForm="ngForm" (ngSubmit)="saveData()" >
    <div class="form-group">
    {{currentGame?.id}}<br>
    <input [(ngModel)]="currentGame.nome" name="nameInput" type="text" #nameVar="ngModel" required><br>
    <input [(ngModel)]="currentGame.descrizione" name="descriptionInput" #descVar="ngModel" value="" required><br>
    <input [(ngModel)]="currentGame.genere" name="genereInput" #genereVar="ngModel" required><br>
    <input [(ngModel)]="currentGame.rating" type="number" name="ratingInput" #ratingVar="ngModel" required><br>
    <input [(ngModel)]="currentGame.prezzo" type="number" name="priceInput" #priceVar="ngModel" required><br>
    <input [(ngModel)]="currentGame.annoUscita" type="date" name="yearInput" #yearVar="ngModel" required><br>
    <input [(ngModel)]="currentGame.consoleType" name="consoleInput" #consoleVar="ngModel" required><br>
    <button type="submit" [hidden]="nameVar.pristine && descVar.pristine && genereVar.pristine && (ratingVar.pristine || !ratingVar.valid) && priceVar.pristine && yearVar.pristine && consoleVar.pristine">modifica gioco</button>
    <button type="button" (click)="ngFormReset()">reset</button>
  </div>
  </form>
</div>