<div>
    {{selectedGame?.id}}<br>
    {{selectedGame?.nome}}<br>
    {{selectedGame?.descrizione}}<br>
    {{selectedGame?.genere}}<br>
    {{selectedGame?.rating}}<br>
    {{selectedGame?.prezzo}}<br>
    {{selectedGame?.annoUscita}}<br>
    {{selectedGame?.consoleType}}<br>

    <ng-container *ngIf="isAdmin() == true">
    <div (click)="changeData()" style="cursor:pointer; background-color:brown; width:10%">
        modifica gioco
    </div>
    </ng-container>
    <div routerLink="/lista" style="cursor:pointer; background-color:brown; width:10%; margin-top:5px; ">
          Torna Indietro
    </div>

  </div>
  