<select [(ngModel)] = "filtro" (ngModelChange)=filtra()>
    <option  *ngFor="let genere of generi; let i=index" [(ngValue)]="genere.id">
        {{genere.nome}}
    </option>
</select>
<div  *ngFor="let gameItem of currentGames; let i=index" (click)=showDetail(gameItem) >
    <!--<ng-container *ngIf="filtro == gameItem.genere || filtro == '00' "> -->
        {{gameItem.id}}<br>
        {{gameItem.nome}}<br>
        {{gameItem.descrizione}}<br>
        {{gameItem.genere}}<br>
        {{gameItem.rating}}<br>
        {{gameItem.prezzo}}<br>
        {{gameItem.annoUscita}}<br>
        {{gameItem.consoleType}}<br>
        <div >-------</div>
    <!--</ng-container>-->

</div>